.formcontainer {
   
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Quicksand", sans-serif;
    .formcontainerinner {
        width: 68%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 50px;
         border-top: 1px solid black;
    border-bottom: 1px solid black;
        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
           
            input {
                width: 400px;
                height: 50px;
                border: 1px dashed #8B6E59;
                border-radius: 10px;
                padding: 5px;
          
                font-size: 20px;
            }
            label {
                font-size: 30px;
            }
            textarea {
                resize: none;
                width: 400px;
                height: 100px;
                font-size: 20px;
                padding: 10px;
            }
            button {
                width: 300px;
                height: 50px;
                border-radius: 20px;
                background-color: rgb(0, 0, 0);
               
                border: none;
                font-size: 20px;
                transition: 0.3s;
                 background-color: #b49783;
                color: white;
            }
            button:hover {
                 background-color: #e4bfa6;
                color: white;
            }
            button:active {
                background-color: #8B6E59;
                color: white;
                
            }
        }
    }
}   