* {
     font-family: "Quicksand", sans-serif;
}


.aboutus {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .aboutusinner {
        width: 75%;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        color: #8B6E59;
   
        .abuscatpion {
            font-weight: bold;
            font-size: 40px;
        }
        .abtext-imgs {
            width: 100%;
            img {
                height: 100%;

                width: 100%;
                border-radius: 20px;
               box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;            }
    
            .abtxtinner{
                display: flex;
                width: 100%;
                gap: 30px;
                .abrightside {
                    display: flex;
                    flex-direction: column;
                    gap: 80px;
                    justify-content: center;
                    width: 100%;
                    p {
                        font-size: 30px;
          
                    }

                }
                .ableftside {
                    height: 600px;
                    width: 80%;
                    

                }
            }
        }
        .abimgs {
            width: 100%;
            height: 100%;
          text-align: center;
           display: flex; 
                justify-content: center;
                gap: 30px;
             
                img {
                //    width: 650px;
                width: 100%;
                   border-radius: 20px;
                   height: 400px;
                   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                    
                }
            
        }
    }
}