* {
    color: #8B6E59;
}


.Menucontainer {
    width: 100% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .menuinner {
        border: 1px solid #8B6E59;
        .caption {
            background-color: #8B6E59;
            display: flex;
            justify-content: center;
            width: 100%;
       

        }
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        .lists {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            gap: 100px;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            height: 100%;
            .card {
                display: flex;
                width: 500px;
                height: 400px;
                gap: 50px;
                padding: 20px;
                flex-direction: column;
                justify-content: center;
                border-top: 1px dashed #8B6E59;
                border-bottom: 1px dashed #8B6E59;
                
                .cardcaption {
                    width: 100%;
                    text-align: center;
                }
                .cardinner {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;
                }
                .leftside {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    align-items: center;
            
                }
                
             .rightside {
                width: 50%;
                height: 100%;
                .img {
                    width: 100%;
                    height: 100%;
                    img {
                         width: 100%;
                    height: 100%;

                    }
                }
                
             }
            }
        }
    }
}
    .list {
                    ul {
                    li {
                        font-size: 24px;
                        line-height: 2;
                        color: black;
                    }
                }
                }
                     h1 {
                
                  font-family: "Instrument Serif", serif;

                letter-spacing: 50px;
                 font-size: 80px;
                 color: white;
            }