.servicecontainer {
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.servicecaption {
    width: 100%;
    height: 100px;
    background-color: #8B6E59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicecaption h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    letter-spacing: 40px;
    color: white;
}

.serviceinner {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.card {
    flex: 1;
    max-width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.card .img {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img img {
    width: 120px;
    object-fit: contain;
}

.card .text {
    flex: 1;
    padding: 25px;
    background-color: #8B6E59;
    color: white;
    font-family: "Quicksand", sans-serif;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    display: grid;
    grid-template-rows: 120px 1fr;
    gap: 15px;
}

.card .text h1 {
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
        font-family: "Quicksand", sans-serif;
}

.card .text p {
    font-size: 25px;
    line-height: 1.4;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    padding-top: 10px;
    font-weight: bold
}


.secondcontainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .secondinner {
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 50px;
        .secondcard {
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 580px;
            border-radius: 0 0 20px 20px;
           
            .secondimg 
            img {
               width: 400px;
               height: 500px;
               border-radius: 0 0 20px 20px;
            }
            .text {
                display: flex;
                width: 100%;
                justify-content: center;
                background-color: #8B6E59;
                color: white;
                height: 100px;
                align-items: center;
                border-radius: 20px 20px 0px 0px;
                h2 {

                
                font-family:"Quicksand", sans-serif;
            }
            }


        }
    }
}