.firstcontainer {
  width: 100%;
  height: 700px;

  background-image:
    linear-gradient(
      to right,
      rgba(252, 244, 241, 0.95) 0%,
      rgba(252, 244, 241, 0.9) 30%,
      rgba(252, 244, 241, 0.6) 45%,
      rgba(252, 244, 241, 0.2) 55%,
      rgba(252, 244, 241, 0) 65%
    ),
    url("/firstcontainer/Rightside.jpg");

  background-size: cover;       
  background-position: center;
  background-repeat: no-repeat;

  .firstcontainerinner {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .leftside {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftsideinner {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;


    .caption  {
        display: flex;
        flex-direction: column;
        gap: 80px;
        h1 {
      font-family: "Playfair Display", serif;
      color: #3b2f2f;
      line-height: 1.8; 
      
      }
      .paragraphs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p{
            display: flex;
            gap: 20px;
        
        font-size: 23px;
        }
      }

    }

    .button {
        width: 100%;
         button {
      width: 300px;
      height: 60px;
      border-radius: 50px;
      font-family: "Playfair Display", serif;
      font-weight: bold;
        border: none;
      background-color: #bd976a;
      cursor: pointer;
      transition: 0.3s;
      font-size: 24px;
      color: white;
      } 
    }

    .button button:hover {
      background-color: #6d584b;
      color: white;
    }
  }
}

.secondcontainer {
    margin-top: 40px;
       
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    .secondcontainerinner {
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
         border-top: 1px solid #8b6e59;
         height: 100%;
         padding: 0 20px;
                  border-bottom: 1px solid #8b6e59;



        .card {
            height: 280px;
             width: 440px;  
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}* {
    color: #8B6E59;
}


.Menucontainer {
    width: 100% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .menuinner {
        border: 1px solid #8B6E59;
        .caption {
            background-color: #8B6E59;
            display: flex;
            justify-content: center;
            width: 100%;
       

        }
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        .lists {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            gap: 100px;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            height: 100%;
            .card {
                display: flex;
                width: 500px;
                height: 400px;
                gap: 50px;
                padding: 20px;
                flex-direction: column;
                justify-content: center;
                border-top: 1px dashed #8B6E59;
                border-bottom: 1px dashed #8B6E59;
                
                .cardcaption {
                    width: 100%;
                    text-align: center;
                    
                }
                .cardinner {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;
                }
                .leftside {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    align-items: center;
            
                }
                
             .rightside {
                width: 50%
                ;
                height: 100%;
                .img {
                    width: 100%;
                    height: 100%;
                    img {
                         width: 100%;
                    height: 100%;

                    }
                }
                
             }
            }
        }
    }
}
    .list {
                    ul {
                    li {
                        font-size: 24px;
                        line-height: 2;
                        color: black;
                    }
                }
                }
        
                .servicecontainer {
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.servicecaption {
    width: 100%;
    height: 100px;
    background-color: #8B6E59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicecaption h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    letter-spacing: 40px;
    color: white;
}

.serviceinner {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.servicecard {
    flex: 1;
    max-width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
}
.servicecard .servicetext * {
    color: white;
}
.servicecard .serviceimg {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicecard .serviceimg img {
    width: 120px;
    object-fit: contain;
}

.servicecard .servicetext {
    flex: 1;
    padding: 25px;
    background-color: #8B6E59;
    color: white;
    font-family: "Quicksand", sans-serif;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    display: grid;
    grid-template-rows: 120px 1fr;
    gap: 15px;
}

.servicecard .servicetext h1 {
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
        font-family: "Quicksand", sans-serif;
}

.servicecard .servicetext p {
    font-size: 25px;
    line-height: 1.4;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    padding-top: 10px;
    font-weight: bold
}
.secondscard .secondstext * {
    color: white;
}

.secondscontainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .secondsinner {
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 50px;
        .secondscard {
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 580px;
            border-radius: 0 0 20px 20px;
           
            .secondsimg 
            img {
               width: 400px;
               height: 500px;
               border-radius: 0 0 20px 20px;
            }
            .secondstext {
                display: flex;
                width: 100%;
                justify-content: center;
                background-color: #8B6E59;
                color: white;
                height: 100px;
                align-items: center;
                border-radius: 20px 20px 0px 0px;
                h2 {

                
                font-family:"Quicksand", sans-serif;
            }
            }


        }
    }
}
* {
     font-family: "Quicksand", sans-serif;
}


.aboutus {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .aboutusinner {
        width: 75%;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        color: #8B6E59;
   
        .abuscatpion {
            font-weight: bold;
            font-size: 40px;
        }
        .abtext-imgs {
            width: 100%;
            img {
                height: 100%;

                width: 100%;
                border-radius: 20px;
               box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;            }
    
            .abtxtinner{
                display: flex;
                width: 100%;
                gap: 30px;
                .abrightside {
                    display: flex;
                    flex-direction: column;
                    gap: 80px;
                    justify-content: center;
                    width: 100%;
                    p {
                        font-size: 30px;
          
                    }

                }
                .ableftside {
                    height: 600px;
                    width: 80%;
                    

                }
            }
        }
        .abimgs {
            width: 100%;
            height: 100%;
          text-align: center;
           display: flex; 
                justify-content: center;
                gap: 30px;
             
                img {
                //    width: 650px;
                width: 100%;
                   border-radius: 20px;
                   height: 400px;
                   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                    
                }
            
        }
    }
}